.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
cut_out.Rmd
jss-article.Rmd
jss-article.html
jss-article_files
jss_paged.html
my_resume.Rmd
my_resume.html
old_resume.Rmd
old_resume.html
old_resume_files
test_style.css
test_resume_files
resume.Rmd
resume_files
resume_template.html
twitter
one-column-paged_files
one-column-paged.html
fontawesome-free-5.8.1-web/