/* THIS CREATES BASIC PAGED LAYOUT IN COMBINATION WITH PAGED.HTML */
@page{
  size: letter portrait;
}

body {
  font-family: "Latin Modern Roman", "Book Antiqua", Palatino, serif
}

:root{
  --page-width: 8.5in;
  --margin-right: 0.5in;
  --margin-left: 0.5in;
  --margin-top: 0.3in;
  --margin-bottom: 0.4in;
  --root-font-size: 12pt;
  --viewer-pages-spacing: 12px;
  --viewer-shadow-color: #313131; /* this marks the pages */
}

.pagedjs_margin-top-left-corner-holder,
.pagedjs_margin-top,
.pagedjs_margin-top-right-corner-holder {}



/* Paged.js viewer */
@media screen {
  body {
    margin: 0; /* for mobile */
    width: calc(var(--width) + 2 * var(--viewer-pages-spacing)); /* for mobile */
  }
   .pagedjs_pages {
    max-width: var(--width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
   .pagedjs_page {
    box-shadow: 0 0 calc(0.66667 * var(--viewer-pages-spacing)) var(--viewer-shadow-color);
    margin: var(--viewer-pages-spacing) 0;
  }
}
 @media screen and (min-width: 8.5in) {
  /* not a mobile */
  body {
    margin: auto;
    width: unset;
  }
}


p, li {
  font-size: var(--root-font-size);
  line-height: 120%;
}

h1.title {
  text-align: center;
  font-weight: normal;
  font-size: 2.3em;
  line-height: 110%;
}

.row h1 {
  color: #710C0C;
  border-bottom: 1px solid black;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1.6em;
  font-weight: normal;
}

h1.summary,
h1.box {
  margin-top: 0.1em;
  margin-bottom: 0;
}

.box {
  visibility: hidden;
  margin-bottom: 0;
}
.info-box {
  background-color: #F5DD9E;
  padding: 10px 2px;
  margin: 0;
  line-height: 140%;
}
.info-box thead {
  display: none;
}
.info-box td:first-child{
  width: 12%;
}

br.pageBreak {
    page-break-after: always;
}

.col-6.left thead,
.col-6.right thead{
  display: none;
}


.col-6.left td {
  text-indent: 8%;
  font-size: 0.85em;
  line-height: 120%;
}

/* set the width of the first column in the tables */
.col-6.right td:first-child {
  width: 20%;
}

.col-6.right td {
  font-size: 0.9em;
  vertical-align: top;
  line-height: 120%;
}
