thead {
  display: none;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

.cv-entries tbody td {
  border-bottom: none !important;
  border-top: none !important;
  padding: 0.2em 0em 0.4em 0.2em;
  font-size: 1em;
}

.cv-entry-title {
  font-weight: bold;
}

 .tab-content .tab-pane {
  padding: 0;
  margin: 0;
}

 .tab-content label {
  padding: 1em 0em 0.8em 0.2em;
}
 .tab-content .tab-pane td {
  padding: 0.2em 0em 0.4em 0.2em;
}
 .tab-content table {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

 .tab-content #talks table,
 .tab-content #posters table {
  margin-bottom: 0.3em;
}

 .tab-content #talks p,
 .tab-content #posters p {
  margin-bottom: 1px;
}



 h1 {
  font-size: 2.2em;
}
 h2 {
  font-size: 1.7em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
 h3 {
  font-size: 1.3em;
}
.domain-header {
  margin-top: 2.5em;
}
thead {
  display: none !important;
}
table{
  margin-bottom: 3em;
  table-layout: fixed;
  width: 100%;
}
.datatables.html-widget {
  margin-bottom: 3em !important;
}
tbody td:first-child {
  padding-right: 1.5em;
  padding-left: 0;
  vertical-align: top;
  width: 18%;
}

/* the talks table has three columns */
 #talks-table-dt tbody td:nth-child(1),
 #talks-table-dt tbody td:nth-child(2) {
  width: 9%;
  vertical-align: top;
}
 #talks-table-dt tbody td:nth-child(3) {
  width: 82%;
}

td {
  padding-bottom: 0.2em;
}
 .work-title {
  font-size: 1.2em;
}
 .datatables {
  margin-bottom: 2em;
}

 .datatables .paginate_button.current {
  border: none !important;
  background: none !important;
  font-weight: bold;
}
 .datatables a.paginate_button:hover {
  background: rgba(0,0,0,.04) !important;
  color: black !important;
  border: none !important;
}
 .datatables .dataTables_length select {
  background-color: #fff;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.05);
}

 .talk-translation {
  font-style: italic;
}

/**** HYPERLINKS ******/
/* by default black, underlined and no line on hover */
a {
  color: black;
  border-bottom: 1px solid lightgray;
}
a:hover {
  text-decoration: none;
  color: black;
  border-bottom: none;
}
